@font-face {
  font-family: "NatoSanse";
  src: url("./assets/fonts/static/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "NatoSanse-md";
  src: url("./assets/fonts/static/NotoSans-Medium.ttf");
}

@font-face {
  font-family: "NatoSanse-bd";
  src: url("./assets/fonts/static/NotoSans-Bold.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "NatoSanse";
}

